<section>
  <h2>Temperature</h2>
  <div class="temperature">

  </div>
</section>

<section>
  <h2>Led</h2>
  <div class="ledcolor">

  </div>
  <div>
    <input type="text" name="ledcolor" value="" placeholder="#000000">
    <button type="button" name="button" class="button" id="ledbutton">Change color</button>
  </div>
</section>

<section>
  <h3>Beeper</h3>
  <div>
    <input type="text" name="frequency" value="" placeholder="frequency">
    <button type="button" name="button" class="button" id="beepbutton">Change color</button>
  </div>

</section>
